body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.hour-input {
  width: 45px;
  height: 30px;
}
.regular-button {
  margin: 5px;
  width: 100%;
}
.hours-input {
  display: inline;
}
.small-input {
  width: 45px;
  height: 30px;
}
.medium-input{
  width: 65px;
  height: 30px;
  display: inline;
}
.spinner {
  margin: auto;
  text-align: center;
}
