body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #edf3ff;
}
.blue-font{
  color: #072f70;
}
.hour-input {
  width: 100px;
  height: 30px;
  display: inline;
}
.regular-button {
  margin: 5px;
  width: 100px;
}
.spinner {
  margin: auto;
  text-align: center;
}
.bg-uniqueColor {
  background-color: #4BB7B5;
}
.float {
	position:fixed;
	bottom:40px;
	right:40px;
  z-index: 10;
}
/* .time-picker {
  width: 50%;
  color: red;
} */
